<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>nodejs版网站</title>

</head>
<body style="margin: 0px;">
<div id="out" style="margin:0 auto;margin-top:80px;width: 85%">
	<div id="navigation">
				<a href="javascript:;">
					<div id="navigation-content">
			    		导航
			    		<%include navigation.html %>	    		
		    		</div>
	    		</a>
	 </div>
	<div id="main">
		<div>html demo</div>
		<ul>
			<li><a href="/html/phone_list_list.html">html5 双列表联动，下拉刷新，上拉加载。</li>
		</ul>
	</div>
</div>
</body>
</html>
